/* Reset cơ bản */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 25%;
    padding: 0;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    color: #333;
    width: 105%;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

label {
    display: block;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.2);
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}


button:hover {
    background: #0056b3;
}

img {
    display: block;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 80%;
}

@media (max-width: 480px) {
    form {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }
}


.form-edit__title {
    display: flex;
}

.form-edit__info {
  width: 50%;
}

.form-edit__detail{
  width: 50%;
}